body {
  color: GhostWhite;
  background-color: #333;
}
.nav a {
  color: GhostWhite;
}
.navbar {
  margin: 0;
}

.billy-masthead {
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
  background-repeat: repeat-x;
  box-sizing: border-box;
  color: rgb(205, 191, 227);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*height: 536px;*/
  line-height: 20px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  /*width: 1440px;*/
  /*font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.billy-masthead .lead {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.billy-masthead .content .img-thumbnail {
	max-width: 200px;
	width: 200px;
}

.half-rule {
  width: 100px;
  margin: 40px auto;
  }

.billy-featurette-title {
  font-weight: 400;
  }

.billy-featurette {
  font-weight: 300;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  /*color: #555;*/
  text-align: center;
  /*background-color: #fff;*/
  border-bottom: 1px solid #e5e5e5;
  }

ul li{
  text-align: left;
}

h3 {
  font-weight: 400;
}
